html
  background-color: var(--color-white-soft)
  color: var(--color-black-soft)

// DISPLAY HELPERS

.only-mobile
  display: none

@media screen and (max-width: $breakpoint-s)
  .only-mobile
    display: var(--mobile-display, revert)

  .display-s-block
    display: block

  .only-desktop
    display: none

  .grid-row.only-mobile // but also we wanna specifcally set a few key classes?
    --mobile-display: flex