html
  // layout
  --grid-gutter: 1rem
  --corner-radius: 2px
  // colors
  --color-white-soft: rgb(253, 253, 253)
  --color-white-soft-transparent: rgba(253, 253, 253, .5)
  --color-black-soft: rgb(14, 14, 14)
  --color-black-soft-transparent: rgba(14, 14, 14, .5)
  --color-red: #FF1941
  --color-yellow: #EBB800
  --color-green: #5FCC00
  --color-green-neon: #CADB2A
  --color-green-racing: #55846B
  --color-blue: rgb(84, 144, 235)
  --color-blue-neon: #0018F0
  --color-blue-light: #CAE5FF
  --color-teal: #E3FFFF
  --color-lilac: #B1B1FF
  --color-gray: rgb(150,150,150)
  --color-gray-transparent: rgba(150,150,150, .5)
  --color-gray-light: rgb(190,190,190) // Max suggesting #bab8b8 = rgb(186, 184, 184)
  --color-gray-light-transparent: rgba(190,190,190, .5)
  --color-gray-extra-light: #EDEAEA
  // typography
  --font-family-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-serif: Georgia, Times, "Times New Roman", serif;
  // transitions
  --transition-speed-slow: 1111ms
  --transition-speed-medium: 420ms
  --transition-speed-quick: 140ms
  --transition-speed-ultra: 33ms

  --breakpoint-s = 759px
  --breakpoint-m = 910px
  --breakpoint-l = 1104px
  --breakpoint-xl = 1408px


// Need to be phased out
$breakpoint-s = 759px
$breakpoint-m = 910px
$breakpoint-l = 1104px
$breakpoint-xl = 1408px

$golden-ratio = 1.61803398875
